# Diamond Company Analytics Challenge

**Time:** 35 minutes

**Scenario:** You are the new data analyst at a prestigious diamond company. The CEO has called an urgent meeting and needs answers to critical business questions about the inventory.

**Your Mission:** Analyze the diamond inventory data and provide insights to guide strategic decisions.

In [6]:
import polars as pl

# Load the diamonds dataset
print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

Loading diamonds dataset...
Dataset loaded successfully!

## Section 1: Initial Inventory Assessment (5 minutes)

The CEO walks in: "Before we dive into specifics, I need to understand what we're working with. Give me the basics about our inventory database."

### Question 1: "How extensive is our inventory database?"

The CEO needs to know the scale of data you're analyzing.

In [ ]:
# Your code here:
print(f"Shape: {df.shape}")
df.head()

Shape: (6000, 8)

shape: (5, 8)
┌──────────────┬───────┬───────┬─────────┬────────┬──────────┬────────┬───────┐
│ Carat Weight ┆ Cut   ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price │
│ ---          ┆ ---   ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---   │
│ f64          ┆ str   ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64   │
╞══════════════╪═══════╪═══════╪═════════╪════════╪══════════╪════════╪═══════╡
│ 1.1          ┆ Ideal ┆ H     ┆ SI1     ┆ VG     ┆ EX       ┆ GIA    ┆ 5169  │
│ 0.83         ┆ Ideal ┆ H     ┆ VS1     ┆ ID     ┆ ID       ┆ AGSL   ┆ 3470  │
│ 0.85         ┆ Ideal ┆ H     ┆ SI1     ┆ EX     ┆ EX       ┆ GIA    ┆ 3183  │
│ 0.91         ┆ Ideal ┆ E     ┆ SI1     ┆ VG     ┆ VG       ┆ GIA    ┆ 4370  │
│ 0.83         ┆ Ideal ┆ G     ┆ SI1     ┆ EX     ┆ EX       ┆ GIA    ┆ 3171  │
└──────────────┴───────┴───────┴─────────┴────────┴──────────┴────────┴───────┘

### Question 2: "What information do we track about each diamond?"

List all the characteristics we record.

In [ ]:
# Your code here:
print(f"Columns: {df.columns}")

Columns: ['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish', 'Symmetry', 'Report', 'Price']

### Question 3: "When I look at one line in this database, what am I looking at?"

Explain in business terms:

**Your answer:** Each row represents:

one diamond

## Section 2: Strategic Business Questions (20 minutes)

The CEO continues: "Now let's get to the important questions. Our board meeting is tomorrow and I need concrete numbers."

### Question 4: "We're considering expanding our storage facilities. How many total carats do we have in inventory? I need to know if our vaults can handle the weight."

Think about what measurement would help answer this.

In [ ]:
# Your code here:
total_carats = df.select(pl.col("Carat Weight").sum())
print(f"Total Carats Weight: {total_carats [0,0]:,.2f}")

Total Carats Weight: 8,007.12

### Question 5: "Our new marketing campaign claims we have 'the widest variety of cuts in the industry.' Can you verify this?"

The CEO wants to know about variety, not quantity.

In [ ]:
# Your code here:
variety_cuts = df.select(pl.col("Cut").n_unique())
print(f"Variety of Cuts: {variety_cuts [0,0]:,.2f}")

Variety of Cuts: 5.00

### Question 6: "I'm meeting with our insurance company. They need to know our price exposure - what's our most and least valuable diamond?"

In [ ]:
# Your code here:
most_valuable_diamond = df.select((pl.col("Price").max()))
print(f"Most Valuable Diamond: ${most_valuable_diamond [0,0]:,.2f}")

least_valuable_diamond = df.select((pl.col("Price").min()))
print(f"Least Valuable Diamond: ${least_valuable_diamond [0,0]:,.2f}")

Most Valuable Diamond: $101,561.00
Least Valuable Diamond: $2,184.00

### Question 7: "Which color grades should we focus on in our premium line? I need typical prices across our color spectrum."

The CEO wants to understand pricing patterns.

In [15]:
# Your code here:
average_price_by_color = df.group_by('Color').agg(pl.col('Price').median()).sort('Price')
display(average_price_by_color)

shape: (6, 2)
┌───────┬────────┐
│ Color ┆ Price  │
│ ---   ┆ ---    │
│ str   ┆ f64    │
╞═══════╪════════╡
│ I     ┆ 6655.0 │
│ E     ┆ 7059.5 │
│ H     ┆ 7169.0 │
│ D     ┆ 7567.0 │
│ G     ┆ 8800.0 │
│ F     ┆ 8860.0 │
└───────┴────────┘

**Reflection:** After analyzing by color, how has your view of the data changed? What does each row in your result represent now?

**Your answer:** New grain = One color grade

## Section 3: Advanced Strategic Analysis (10 minutes)

The CEO leans forward: "These next questions will shape our strategy for next year."

### Question 8: "We're thinking of specializing in certain clarity grades. For our investor deck, I need a complete breakdown showing: how many diamonds we have in each clarity grade, their typical price, and the total carats we're holding for each grade."

In [8]:
# Your code here:
clarity_summary = df.group_by("Clarity").agg([
          pl.len().alias("Diamond Count"),
          pl.col("Price").median().alias("Typical Price"),
          pl.col("Carat Weight").sum().alias("Total Carat Weight")]).sort("Diamond Count")

display(clarity_summary)

shape: (7, 4)
┌─────────┬───────────────┬───────────────┬────────────────────┐
│ Clarity ┆ Diamond Count ┆ Typical Price ┆ Total Carat Weight │
│ ---     ┆ ---           ┆ ---           ┆ ---                │
│ str     ┆ u32           ┆ f64           ┆ f64                │
╞═════════╪═══════════════╪═══════════════╪════════════════════╡
│ FL      ┆ 4             ┆ 62371.5       ┆ 7.87               │
│ IF      ┆ 219           ┆ 12647.0       ┆ 316.0              │
│ VVS1    ┆ 285           ┆ 11142.0       ┆ 389.43             │
│ VVS2    ┆ 666           ┆ 10266.0       ┆ 876.58             │
│ VS1     ┆ 1192          ┆ 9245.0        ┆ 1682.74            │
│ VS2     ┆ 1575          ┆ 7568.0        ┆ 2170.81            │
│ SI1     ┆ 2059          ┆ 5417.0        ┆ 2563.69            │
└─────────┴───────────────┴───────────────┴────────────────────┘

### Question 9: "My luxury competitor claims they have the best prices for every cut-color combination. Show me our pricing structure across these combinations - I want to see where we're competitive."

In [13]:
# Your code here:
pricing_structure = df.group_by(["Cut","Color"]).agg(pl.col("Price").mean().alias("Mean Price")).sort("Mean Price")
display(pricing_structure)

shape: (30, 3)
┌─────────────────┬───────┬──────────────┐
│ Cut             ┆ Color ┆ Mean Price   │
│ ---             ┆ ---   ┆ ---          │
│ str             ┆ str   ┆ f64          │
╞═════════════════╪═══════╪══════════════╡
│ Fair            ┆ I     ┆ 4573.1875    │
│ Fair            ┆ E     ┆ 5370.625     │
│ Fair            ┆ H     ┆ 5908.5       │
│ Fair            ┆ D     ┆ 6058.25      │
│ Fair            ┆ F     ┆ 6063.625     │
│ …               ┆ …     ┆ …            │
│ Signature-Ideal ┆ F     ┆ 13247.947368 │
│ Ideal           ┆ G     ┆ 13570.310145 │
│ Ideal           ┆ F     ┆ 14729.426997 │
│ Ideal           ┆ D     ┆ 18461.953571 │
│ Signature-Ideal ┆ D     ┆ 19823.1      │
└─────────────────┴───────┴──────────────┘

**Reflection:** How specific is your analysis now? What level of detail does each row represent?

**Your answer:** New grain = Mean price for each cut-color combination

### Question 10: URGENT - "Our biggest client is interested in purchasing entire inventory segments. They asked: 'Which color-cut combinations represent your highest total inventory value?' Show me the top 5 most valuable inventory segments by total worth, and include how many diamonds are in each segment."

This is critical for tomorrow's negotiation.

In [17]:
# Your code here:
top5_segments = (
    df.group_by(["Color", "Cut"])
      .agg([
          pl.col("Price").sum().alias("Total Value"),
          pl.len().alias("Diamond Count")
      ])
      .sort("Total Value", descending=True)
      .head(5)
)

display(top5_segments)

shape: (5, 4)
┌───────┬───────────┬─────────────┬───────────────┐
│ Color ┆ Cut       ┆ Total Value ┆ Diamond Count │
│ ---   ┆ ---       ┆ ---         ┆ ---           │
│ str   ┆ str       ┆ i64         ┆ u32           │
╞═══════╪═══════════╪═════════════╪═══════════════╡
│ G     ┆ Ideal     ┆ 9363514     ┆ 690           │
│ G     ┆ Very Good ┆ 7140620     ┆ 578           │
│ F     ┆ Very Good ┆ 5648327     ┆ 455           │
│ F     ┆ Ideal     ┆ 5346782     ┆ 363           │
│ H     ┆ Ideal     ┆ 5279687     ┆ 458           │
└───────┴───────────┴─────────────┴───────────────┘

## Debrief

Congratulations! You've just completed your first day as the diamond company's data analyst.

Remember:
- CEOs speak in business language, not technical terms
- Always understand what each row represents before analyzing
- Business questions contain clues about which operations to use